<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aert</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <button id="test">move green cube</button>
    <button id="test2">add red cubes</button>
    <button id="test3">print to console</button>
    <br>
    <table>
      <tr>
        <th>velocity</th>
        <th>angularVel</th>
      </tr>
      <tr>
        <td id="ttest">0</td>
        <td id="ttest2">0</td>
      </tr>
    </table>
    <!-- <label for="changeOrbit">Change Orbit</label>
    <input type="checkbox" name="changeOrbit" id="changeOrbit">
    <br> -->
    <!-- <label for="castRay">Cast Ray</label>
    <input type="checkbox" name="castRay" id="castRay">
    <br> -->
    <!-- <label for="myRange" id="myRangeNumber">acceleration - 00</label>
    <input type="range" min="0" max="50" id="myRange"> -->
  </main>
  <script type="module" src="./js/main.js"></script>
</body>
</html>